<!DOCTYPE hibernate-configuration PUBLIC
        "-//HibernateUtil/HibernateUtil Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!--<property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>-->
        <property name="connection.url">jdbc:h2:tcp://localhost:9092/~/test</property>
        <!--<property name="connection.url">jdbc:h2:tcp://localhost/~/db-test.h2</property>-->
        <property name="connection.username">sa</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">99</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!--Drop and re-create the database schema on startup-->
        <property name="hbm2ddl.auto">none</property>

        <!-- Enable HibernateUtil stats in the logs -->
        <property name="hibernate.generate_statistics">false</property>

        <!-- Full names the annotated entity class -->
        <mapping class="model.Design"/>
        <mapping class="model.AirConditioning"/>
        <mapping class="model.Transmission"/>
        <mapping class="model.Engine"/>
        <mapping class="model.Car"/>
        <mapping class="model.Client"/>
        <mapping class="model.Employee"/>
        <mapping class="model.Dealership"/>
        <mapping class="model.Employment"/>
        <mapping class="model.Language"/>
        <mapping class="model.EmployeeLanguage"/>
        <mapping class="model.Transaction"/>
        <mapping class="model.Reservation"/>
        <mapping class="model.Photo"/>

    </session-factory>
</hibernate-configuration>